/*↓ FERRAMENTA ↓*/
#entradas_tamanho_tipo {
    display: flex;
    gap: 20px;
}

#entradas_tamanho_tipo > * {
    display: flex;
    flex-basis: 1;
    width: 100%;
}

#quantidadeTexto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    padding: 5px 10px;
    border: 2px solid var(--cor_borda_secundaria);
    background-color: transparent;
    border-radius: var(--arredondamento_borda_interno);
}

#quantidadeTexto > button {display: flex; align-items: center; justify-content: center; width: 20px;}

#quantidadeTexto i {font-size: 20px; color: var(--cor_texto);}

#quantidadeTexto > input {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    color: var(--cor_texto);
    text-align: center;
    font-weight: bold;
}

#tamanho_txt {
    height: 44px;
    width: 100%;
    border: 2px solid var(--cor_borda_secundaria);
    background-color: transparent;
    border-radius: var(--arredondamento_borda_interno);
    color: var(--cor_texto);
    text-align: center;
    font-weight: 500;
}

#saida_txt {
    width: calc(100% - 25px);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--cor_borda_secundaria);
    background-color: var(--cor_plano_de_fundo);
    border-radius: var(--arredondamento_borda_interno);
    color: var(--cor_texto);
}

#ferramenta div.container_btns_popup {
    margin: 0 auto 20px auto;
}

#ferramenta div.container_btns_popup > * {
    margin: auto;
}

/*↓ RESPOSIVIDADE ↓*/
@media screen and (max-width: 425px) {
    #entradas_tamanho_tipo {flex-wrap: wrap;}
}